:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.offcanvas {
  background-color: inherit;
}
.slideout {
  transition: all 1s linear;
}

.barsbtn {
  border: none;
  background-color: transparent;
}
.bars {
  font-size: 30px;
}
ul,
li {
  list-style: none;
}
li {
  padding: 5px;
  margin: 10px;
}
.card {
  position: absolute;
  top: 50px;
  left: 30px;
}
.links:hover {
  transition: all 0.3s ease-in;
  box-shadow: 0px 2px rgb(1, 1, 51);
}
