:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.section {
  width: 90%;
  margin: auto;
  border-radius: 20px;
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-position: cover;
  padding: 5px;
  max-height: auto;
}
.homeInp:focus {
  border: none;
  outline: none;
  box-shadow: none !important;
  padding: 10px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* max-width: 100%; */
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}
a {
  text-decoration: none;
  color: #434550;
}
a:hover {
  color: #434550;
}

.slide {
  transition: all 5s linear;
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.registerbtn {
  min-width: 100px;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: white;

  background-image: linear-gradient(
    to right,
    rgb(3, 151, 250),
    white,
    rgb(3, 151, 250)
  );
}
.HomeTop {
  background-image: linear-gradient(
    to bottom right,
    rgb(3, 151, 250),
    white,
    rgb(3, 151, 250)
  );
}
.booktabs {
  margin: 30px auto;
  border: 2px solid lightgray;
  border-radius: 20px;
  width: 95%;
}

.activeTab {
  color: rgb(18, 103, 173);
  border: none;
  padding: 10px;
  width: 250px;
  background-color: transparent;
}

.tabBtn {
  color: #434550;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  width: fit-content;
  min-width: 250px;
}
.error {
  width: 700px;
  margin: auto;
}
.error img {
  width: 100%;
}

.planeImg {
  border-radius: 100px;
  width: 100%;
}
.barsbtn {
  border: none;
  background-color: transparent;
}
.bars {
  font-size: 30px;
}
ul,
li {
  list-style: none;
}
li {
  padding: 5px;
  margin: 10px;
}
.card {
  position: absolute;
  top: 35px;
  left: 30px;
}
.links:hover {
  transition: all 0.3s ease-in;
  box-shadow: 0px 2px purple;
}
.tabcontent {
  display: none;
}
.activetabcontent {
  margin-top: 20px;
  padding: 20px;
  display: block;
}
.form-control {
  width: 200px;
  padding: 10px;
}
.form-control :focus {
  outline: black !important;
  border-color: black !important;
  box-shadow: none !important;
}

select {
  width: 200px;
  padding: 10px;
  /* height: 50px; */
}
.bookNowBtn {
  padding: 10px;
  border-radius: 10px;
}
.tabcontentBtn {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  margin-top: auto;
}
.tabcontentBtn:hover {
  border-color: rgb(46, 27, 46);
  background-color: rgb(46, 27, 46);
  color: white;
}

.bookNowBtn:hover {
  border-color: rgb(46, 27, 46);
  background-color: rgb(46, 27, 46);
  color: white;
}

.homebtn {
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  color: white;
}
.homebtn:hover {
  border-color: rgb(46, 27, 46);
  background-color: rgb(46, 27, 46);
  color: white;
}
@media only screen and (min-width: 680px) {
  .Explore {
    color: rgb(7, 1, 1);
  }

  .DubaiExplore {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0px !important;
  }
  .dubaiAvi5 {
    margin: 0px !important;
  }
  .dubaiAvi3 {
    margin: 0px !important;
  }
  .DubaiExp {
    cursor: pointer;
    width: 50%;
    padding: 6px;
  }
  .FirstClassrow {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0px !important;
    margin: 0px !important;
  }
  .classes {
    cursor: pointer;
    padding: 0px;
    width: 45%;
    padding: 10px !important;
    height: 48% !important;
    margin: 5px;
  }
  .section {
    width: 80%;
    margin: auto;
    border-radius: 30px;
    background-image: url("../background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    max-height: auto;
  }
  .booktabs {
    border: 2px solid lightgray;
    border-radius: 30px;
    width: 80%;
    margin: 30px auto;
  }
  .tab-container {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(0, 123, 206);
  }
  .tabBtn {
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    border: none;
    padding: 10px;
    width: 250px;
    min-width: fit-content;
  }

  .form-control {
    width: 200px;
    padding: 10px;
  }
  .HomeTop {
    background-image: url("../airplane-flight.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .activeTab {
    color: rgb(2, 0, 10);
    border: none;
    padding: 10px;
    width: 250px;
    background-color: transparent;
  }
}

.HomeFooter {
  height: 80px;
  border-left: 3px solid rgb(46, 27, 46);
}
footer p:hover {
  color: rgb(3, 151, 250);
}
.footer {
  height: 50px;
}
h5 {
  color: rgb(3, 151, 250);
}

.dubaiAvi {
  background-image: url("../public/dubai.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.dubaiAvi2 {
  background-image: url("../first-class-dessert.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.dubaiAvi3 {
  background-image: url("../business-class-meal.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.dubaiAvi4 {
  background-image: url("../economy-class-chocolate.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.dubaiAvi5 {
  background-image: url("../premium-economy.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.underline {
  width: 3rem;
  height: 0.21rem;
  background: rgb(173, 36, 36);
}
